/* Set major page elements to the colors of the Minnesota Twins
http://teamcolorcodes.com/minnesota-twins-color-codes/
*/

header#header {
	background: #042462 /* Twins Navy */
}

div#page,
div#main-wrapper {
  background-color: white;
}

footer.site-footer {
	background:  #D31145; /* Twins Red */
}

html body {
	background:#CFAB7A;/* Twins Gold */
}

/*
.node__meta {
	font-weight: bold;
}
*/
