/* Set major page elements to the colors of the Irish flag as this training
will be held on St. Patrick's Day. https://en.wikipedia.org/wiki/Flag_of_Ireland
*/


header#header {
	background: #169B62; /* green; */
}

div#page,
div#main-wrapper {
  background-color: white;
}

footer.site-footer {
	background:  #FF883E; /* orange */
}

/* This commented out CSS will be used as an example during the Terminus
portion of the training.
.node__meta {
	font-weight: bold;
}
*/
