/* Set major page elements to the colors of DrupalCon NOLA
*/


header#header {
	background: #57308c /* purple */
}

div#page,
div#main-wrapper {
  background-color: white;
}

footer.site-footer {
	background:  #757428; /* gold */
}

/* This commented out CSS will be used as an example during the Terminus
portion of the training.
.node__meta {
	font-weight: bold;
}
*/
